@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password";
}


<div class="container">
    <form method="post" class="login">
        <h4 class="login__header">
            Enter your email.
        </h4>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="add-product__actions">
            <a href="/Identity/Account/Login" class="btn btn--gray">Cancel</a>
            <button style="margin-right: 0rem" type="submit" class="btn btn--primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
