@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div style="width: 100%; margin: 0 auto; padding: 2rem; display: flex;flex-direction: column;">
        <div class="form-group">
            <div class="text-center">
                <h1 class="display-1">Welcome To Our Application</h1>
                <h1 class="display-4">To Show Our Products</h1>
                <div class="btn-group " role="group" >
                    <a asp-controller="Products" asp-action="Index" class="btn btn-primary "> <h2>Click Here</h2></a>
                </div><br /><br />
                <p><a> Created by : Eslam - Khalid</a></p>
            </div>
        </div>
    </div>
</div>

